/* TODO: remove background colors and borders */
.container {
    display: grid;
    grid-template-rows: 100px minmax(400px, auto) 100px;
    grid-template-columns: 100%;
    grid-template-areas: 
    "header"
    "content"
    "footer";
    border: 2px solid yellow;
}

.header {
    grid-area: header;
    display: flex;
    background-color: lightcoral;
    border: 2px;
    border-color: black;
}


.content {
    grid-area: content;
    background-color: lightblue;
    border: 2px;
    border-color: black;
}

.footer {
    grid-area: footer;
    background-color: lightpink;
    border: 2px;
    border-color: black;
}